.row {
	--bs-gutter-x: 0;
}

body {
	background-color: #f5d9d5;
	padding-bottom: 30px;
}

section {
	margin: 50px 0;
}

.navbar {
	text-transform: uppercase;
}

/* .navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
	border: 1px solid #FFFFFF;
} */

.nav-link {
	font-size: 1.3em;
	color: #FFFFFF !important;
}

.nav-link:hover {
	color: crimson !important;
}

img {
	width: 90%;
}


@media (max-width: 768px) {
	img {
		width: 100%;
	}
	section {
		margin: 0 0;
	}
}

.headingGroup {
	font-size: 3rem;
	color: white;
	letter-spacing: 5px;
}

@media (max-width: 1100px) {
	.headingGroup {
		font-size: 32px;
	}
}

.scrolled {
	background-color: rgb(222,192,222);
	transition: background 400ms;
}

h1 {
	font-weight: 100;
}

h1 > span {
	color: red;
}

.section-pg {
	font-size: 1.1rem;
	text-align: center;
}

.lolli-icon {
	max-width: 100px;
}